/************ logo ***************/
#logo {
  padding: 5px;
}

#logo > img {
  width: 220px;
  height: 50px;
}

/************ nav-var multi level *************/
.navbar-nav .dropdown:hover > ul,
.navbar-right .dropdown:hover > ul {
  display: block;
}

.navbar-nav .dropdown-menu,
.navbar-right .dropdown-menu {
  min-width: 100%;
}

.navbar-nav ul ul,
.navbar-right ul ul {
  left: 100%;
  top: -8px;
}

.navbar-nav ul,
.navbar-right ul {
  border-radius: 0;
}

.navbar-nav ul .caret,
.navbar-right ul .caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
}

/************fixed menu************/
.post-view {
  overflow: auto;
}

/*******comments list********/
.comment-list .image {
  float: left;
  width: 40px;
}

.comment-list .text {
  margin-left: 50px;
  position: relative;
}

.comment-list .image_children {
  float: right !important;
}

.comment-list .text_children {
  margin-left: 0px;
  margin-right: 50px;
}

.comment-list .thumbnail {
  padding: 0px;
  min-height: 40px;
  text-align: center;
}

.comment-list .thumbnail > img {
  display: inline-block;
  max-height: 50px;
}

.comment-list .panel {
  position: relative;
}

.comment-list .panel-heading:after, .comment-list .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.comment-list .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px;
}

.comment-list .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}

.comment-list .answer > * .panel-heading:after, .comment-list .answer > * .panel-heading:before {
  left: auto;
  right: -16px;
}

.comment-list .answer > * .panel-heading:after {
  border-left-color: #f7f7f7;
  border-right-color: transparent;
  border-width: 8px;
  margin-top: 0;
}

.comment-list .answer > * .panel-heading:before {
  border-left-color: #ddd;
  border-right-color: transparent;
  right: -17px;
}

/************home view************/
#home-view .contents .thumbnail {
  min-height: 350px;
}

.post_list .post-list-item hr {
  margin-top: 0;
}

/*********no lines panel*********/
.panel.no-line {
  margin-top: 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel.no-line .panel-body {
  padding: 10px 0;
}

/************categories carousel***********/
.categories-carousel {
  margin-bottom: 0;
  padding: 0 40px 0px 40px;
  /* The controlsy */
  /* The indicators */
  /* The colour of the indicators */
}

.categories-carousel .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  top: 30%;
}

.categories-carousel .carousel-control.right {
  right: -12px;
  left: auto;
}

.categories-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

.categories-carousel .carousel-indicators li {
  background: #cecece;
}

.categories-carousel .carousel-indicators .active {
  background: #428bca;
}

.categories-carousel .thumbnail {
  margin-bottom: 0;
}

/************ languages **********************/
.language {
  margin: 10px 0 0 0;
}
/*# sourceMappingURL=styles.css.css.map */